#!/bin/sh

# --- macOS ---
{{ if eq .chezmoi.os "darwin" }}

# install zsh
brew install zsh
brew install zsh-completions

# install git
brew install git

# install neovim
brew install neovim

# install ghq
brew install ghq

# install starship
brew install starship

# install sheldon
brew install sheldon

# install fzf
brew install fzf

{{ end }}

# --- linux-debian ---
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian")) }}

apt-get update

# install locales
apt-get install -y locales-all

# install zsh
apt-get install -y zsh

# install git
apt-get install -y git

# install neovim
apt-get install -y neovim

# install starship
curl -fsSL https://starship.rs/install.sh | sh -s -- --yes

# install sheldon
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
  | bash -s -- --repo rossmacarthur/sheldon --to ~/.local/bin

# install fzf
apt-get install -y fzf

{{ end }}

