#!/bin/sh

# --- macOS ---
{{ if eq .chezmoi.os "darwin" }}
{{ end }}

# --- linux-debian ---
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian")) }}

apt-get update

# install locale-all
apt-get install -y locales-all

# install zsh
apt-get install -y zsh

# install starship
curl -fsSL https://starship.rs/install.sh | sh -s -- --yes

# install sheldon
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
  | bash -s -- --repo rossmacarthur/sheldon --to ~/.local/bin

# install fzf
apt-get install -y fzf

{{ end }}

